section.about-section
  .wrapper
    .about-section__inner
      .about-section__content
        h2.about-section__title.font-s-40 О НАС

        .about-section__image
          img(src="images/about-image.png" loading="lazy" alt="image" width="603" height="562").d-block

        .about-section__info.font-g-med.font-s-24
          div РУМИТ — это клуб творческого развития детей. 
            |Одно из важнейших направлений нашей деятельности — работа с особенными детками

          div В нашей студии подопечные находят себя в творчестве. 
            |Мы рисуем, лепим, занимаемся хенд мейдом и создаем настоящие спектакли с декорациями и костюмами

          div Наша студия существует с 2019 года, за это время мы накопили большой опыт, 
            |которым хотим поделиться, поэтому мы приглашаем вас к сотрудничеству.

