section.city-section
  .wrapper
    .city-section__inner
      .city-section__logo
        img(src="images/logo-secondary.png" loading="lazy" alt="logo" width="184" height="184").d-block

      h2.city-section__title.font-s-35.font-g-med Начните свой бизнес 
        br
        |прямо сейчас

      .city-section__feedback
        .feedback.border-r-20
          form(data-feedback-form).feedback__form
            .feedback__description.font-s-24.font-f-med Проверьте, свободен ли ваш город 
              br
              |для работы по франшизе
            .feedback__list
              .feedback__item
                .input
                  input(type="text" name="name" autocomplete="off" placeholder="Ваше имя").input__field
              .feedback__item
                .input
                  input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваше телефон").input__field
              .feedback__item
                button.btn(type="submit")
                  span.text-up Проверить
            input(type="text" name="honeyfield" class="honeypot" style="display:none")

      .city-section__image
        img(src="images/city-image.png" loading="lazy" alt="image" width="505" height="706").d-block
