section.FAQ-section
  .wrapper
    .FAQ-section__inner
      h2.FAQ-section__title.font-s-40.text-center Почувствуйте себя владельцем клуба РУМИТ

      .FAQ-section__title-helper.font-s-32.text-center.font-g-med Запишитесь на тест-драйв франшизы и вы узнаете:

      .FAQ-section__content
        .FAQ-section__feedback
          .feedback.border-r-20
            form(data-feedback-form).feedback__form
              .feedback__list
                .feedback__item
                  .input
                    input(type="text" name="name" autocomplete="off" placeholder="Ваше имя").input__field
                .feedback__item
                  .input
                    input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваше телефон").input__field
                .feedback__item
                  button.btn(type="submit")
                    span Записаться
              input(type="text" name="honeyfield" class="honeypot" style="display:none")
              .feedback__image
                img(src="images/FAQ-image.png" loading="lazy" alt="image" width="343" height="240").d-block

        .FAQ-section__info.font-g-med.font-s-20
          ul
            li
              .FAQ-section__info-icon
                img(src="images/checked-2.svg" loading="lazy" alt="icon" width="28" height="28").d-block
              .FAQ-section__info-description Как вести 
                br
                |документооборот
            li
              .FAQ-section__info-icon
                img(src="images/checked-2.svg" loading="lazy" alt="icon" width="28" height="28").d-block
              .FAQ-section__info-description Как организовать 
                br
                |пространство клуба
            li
              .FAQ-section__info-icon
                img(src="images/checked-2.svg" loading="lazy" alt="icon" width="28" height="28").d-block
              .FAQ-section__info-description Как расширять 
                br
                |клиентскую базу
            li
              .FAQ-section__info-icon
                img(src="images/checked-2.svg" loading="lazy" alt="icon" width="28" height="28").d-block
              .FAQ-section__info-description Как всегда быть в курсе 
                br
                |новых методик и трендов
            li
              .FAQ-section__info-icon
                img(src="images/checked-2.svg" loading="lazy" alt="icon" width="28" height="28").d-block
              .FAQ-section__info-description Как избежать ошибок на 
                br
                |старте
            li
              .FAQ-section__info-icon
                img(src="images/checked-2.svg" loading="lazy" alt="icon" width="28" height="28").d-block
              .FAQ-section__info-description Как и из чего будет 
                br
                |формироваться ваша 
                br
                |прибыль
            li
              .FAQ-section__info-icon
                img(src="images/checked-2.svg" loading="lazy" alt="icon" width="28" height="28").d-block
              .FAQ-section__info-description Как найти хороших 
                br
                |педагогов
