section.finances-section
  .wrapper
    .finances-section__inner
      h2.finances-section__title.font-s-48.text-center О бизнес-модели «LAMANBORZ»

      .finances-section__cards.swiper-finances.font-s-18.font-f-med
        .finances-section__cards-list.swiper-wrapper
          .finances-section__cards-item.swiper-slide
            .finances-section__card.border-r-16
              .finances-section__card-num.font-g-bold 01
              .finances-section__card-title.font-f-demi.font-s-26 от 122 000 рублей
              .finances-section__card-description средняя чистая ежемесячная 
                br
                |прибыль
          .finances-section__cards-item.swiper-slide
            .finances-section__card.border-r-16
              .finances-section__card-num.font-g-bold 02
              .finances-section__card-title.font-f-demi.font-s-26 от 0,8 млн рублей
              .finances-section__card-description первоначальные 
                br
                |инвестиции
          .finances-section__cards-item.swiper-slide
            .finances-section__card.border-r-16
              .finances-section__card-num.font-g-bold 03
              .finances-section__card-title.font-f-demi.font-s-26 от 1,46 млн рублей
              .finances-section__card-description средняя чистая 
                br
                |годовая прибыль
          .finances-section__cards-item.swiper-slide
            .finances-section__card.border-r-16
              .finances-section__card-num.font-g-bold 04
              .finances-section__card-title.font-f-demi.font-s-26 от 19,9%
              .finances-section__card-description рентабельность по 
                br
                |чистой прибыли
          .finances-section__cards-item.swiper-slide
            .finances-section__card.border-r-16
              .finances-section__card-num.font-g-bold 05
              .finances-section__card-title.font-f-demi.font-s-26 от 6 месяцев
              .finances-section__card-description срок окупаемости 
                br
                |вашего бизнеса
          .finances-section__cards-item.swiper-slide
            .finances-section__card.border-r-16
              .finances-section__card-num.font-g-bold 06
              .finances-section__card-title.font-f-demi.font-s-26 1 месяц
              .finances-section__card-description чтобы начать 
                br
                |зарабатывать

        .finances-section__cards-bullets.swiper-bullets.finances-pagination

      .finances-section__frame.border-r-16
        .finances-section__frame-title.font-f-book.font-s-32 Хотите получить  детальные расчеты 
          br
          |для вашего города и под ваш бюджет?
        .finances-section__frame-description.font-s-20.font-f-light Скачайте финансовую модель франшизы
        .finances-section__frame-button
          button.btn(data-remodal-target="modal-form-finances")
            span Скачать финансовую модель
        .finances-section__frame-image
          img(src="images/finances-image.jpg" loading="lazy" alt="image" width="562" height="317").d-block
