section.gallery-section
  .gallery-section__wrapper
    .gallery-section__inner
      h2.gallery-section__title.text-center.font-s-48 Об ассортименте магазина

      .gallery-section__swiper-content
        .gallery-section__swiper.swiper-gallery
          .gallery-section__swiper-wrapper.swiper-wrapper
            .gallery-section__swiper-slide.swiper-slide
              .gallery-section__swiper-image.border-r-20
                //- img(src="images/gallery-swiper-img-1.jpg" loading="lazy" alt="image" width="360" height="360").d-block
            .gallery-section__swiper-slide.swiper-slide
              .gallery-section__swiper-image.border-r-20
                //- img(src="images/gallery-swiper-img-2.jpg" loading="lazy" alt="image" width="360" height="360").d-block
            .gallery-section__swiper-slide.swiper-slide
              .gallery-section__swiper-image.border-r-20
                //- img(src="images/gallery-swiper-img-3.jpg" loading="lazy" alt="image" width="360" height="360").d-block
            .gallery-section__swiper-slide.swiper-slide
              .gallery-section__swiper-image.border-r-20
                //- img(src="images/gallery-swiper-img-4.jpg" loading="lazy" alt="image" width="360" height="360").d-block
            .gallery-section__swiper-slide.swiper-slide
              .gallery-section__swiper-image.border-r-20
                //- img(src="images/gallery-swiper-img-5.jpg" loading="lazy" alt="image" width="360" height="360").d-block
            .gallery-section__swiper-slide.swiper-slide
              .gallery-section__swiper-image.border-r-20
                //- img(src="images/gallery-swiper-img-6.jpg" loading="lazy" alt="image" width="360" height="360").d-block
            .gallery-section__swiper-slide.swiper-slide
              .gallery-section__swiper-image.border-r-20
                //- img(src="images/gallery-swiper-img-7.jpg" loading="lazy" alt="image" width="360" height="360").d-block

        .gallery-section__swiper-controll
          .gallery-section__swiper-btn.gallery-section__swiper-btn--prev.gallery-prev.tap-color
            div
              img(src="images/arrow-swiper.svg" loading="lazy" alt="prev" width="22" height="15").d-block
          .gallery-section__swiper-btn.gallery-section__swiper-btn--next.gallery-next.tap-color
            div
              img(src="images/arrow-swiper.svg" loading="lazy" alt="next" width="22" height="15").d-block

      .gallery-section__swiper-bullets.gallery-pagination