section.investments-section
  .wrapper
    .investments-section__inner.text-center
      h2.investments-section__title.font-s-40 Минимальные вложения для 
        br
        |старта — от 1,17 млн рублей

      .investments-section__info.font-s-20 Выберите размер вашего города 
        br
        |и узнайте величину паушального взноса и размер инвестиций в 1 клик

      .investments-section__pointer
        img(src="images/pointer-2.svg" loading="lazy" alt="icon" width="56" height="102").d-block

      .investments-section__cards.swiper-investments
        .investments-section__cards-list.swiper-wrapper
          .investments-section__cards-item.swiper-slide
            .feedback-card
              .feedback-card__name.feedback-card__name--1.font-g-s-bold.font-s-22
                div до 500 000 жителей
              .feedback-card__description.font-s-16.font-m-s-bold Скачайте подробное описание 
                br
                |формата и финансовую модель
              .feedback-card__form
                .feedback
                  form(data-feedback-form).feedback__form
                    .feedback__list
                      .feedback__item
                        .input
                          input(type="text" name="name" autocomplete="off" placeholder="Ваше имя").input__field
                      .feedback__item
                        .input
                          input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон").input__field
                      .feedback__item
                        button.btn.btn--secondary(type="submit")
                          span Узнать
                    input(type="text" name="honeyfield" class="honeypot" style="display:none")
          .investments-section__cards-item.swiper-slide
            .feedback-card
              .feedback-card__name.feedback-card__name--2.font-g-s-bold.font-s-22
                div от 5 000 000 жителей
              .feedback-card__description.font-s-16.font-m-s-bold Скачайте подробное описание 
                br
                |формата и финансовую модель
              .feedback-card__form
                .feedback
                  form(data-feedback-form).feedback__form
                    .feedback__list
                      .feedback__item
                        .input
                          input(type="text" name="name" autocomplete="off" placeholder="Ваше имя").input__field
                      .feedback__item
                        .input
                          input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон").input__field
                      .feedback__item
                        button.btn.btn--secondary(type="submit")
                          span Узнать
                    input(type="text" name="honeyfield" class="honeypot" style="display:none")
          .investments-section__cards-item.swiper-slide
            .feedback-card
              .feedback-card__name.feedback-card__name--3.font-g-s-bold.font-s-22
                div от 1 000 000 жителей
              .feedback-card__description.font-s-16.font-m-s-bold Скачайте подробное описание 
                br
                |формата и финансовую модель
              .feedback-card__form
                .feedback
                  form(data-feedback-form).feedback__form
                    .feedback__list
                      .feedback__item
                        .input
                          input(type="text" name="name" autocomplete="off" placeholder="Ваше имя").input__field
                      .feedback__item
                        .input
                          input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон").input__field
                      .feedback__item
                        button.btn.btn--secondary(type="submit")
                          span Узнать
                    input(type="text" name="honeyfield" class="honeypot" style="display:none")

        .investments-section__cards-bullets.swiper-bullets.investments-pagination
