.remodal(data-remodal-id="modal-form-finances" data-remodal-options="modifier: modal-scrollable, hashTracking:false")
  .remodal__feedback.remodal__feedback--finances
    .remodal__feedback-close(data-remodal-action="close" title="Закрыть").tap-color
      .remodal__feedback-icon
    .form-modal
      form.form-modal__feedback(data-feedback-form)
        .form-modal__info-title Скачайте финансовую 
          br.d-block
          |модель франшизы
        .form-modal__feedback-list
          .form-modal__feedback-item
            .input
              input(type="text" name="name" autocomplete="off" placeholder="Имя").input__field
          .form-modal__feedback-item
            .input
              input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
          .form-modal__button.form-modal__feedback-item
            button.btn(type="submit")
              span Скачать
        input(type="text" name="honeyfield" class="honeypot" style="display:none")
        .form-modal__agree
          .form-modal__agree-text Нажимая на кнопку «Скачать», я даю согласие на обработку персональных данных и соглашаюсь 
            br.d-block
            | с 
            a(href="#" data-remodal-target="privacy").form-modal__agree-link Политикой 
              |конфиденциальности
