section.stages-section
  .wrapper
    .stages-section__inner
      h2.stages-section__title.font-s-40.text-center 9 понятных этапов для запуска 
        br
        |вашего бизнеса

      .stages-section__title-helper.font-s-24.font-g-med.text-center Ознакомьтесь с ключевыми 
        br
        |этапами совместной работы

      .stages-section__info.font-s-24.swiper-stages
        .stages-section__info-list.swiper-wrapper
          .stages-section__info-item.swiper-slide
            .stages-section__info-container
              .stages-section__info-box
                .stages-section__info-num
                  span 01
                .stages-section__info-pointer
                  img(src="images/pointer.svg" loading="lazy" alt="pointer" width="8" height="23").d-block
              .stages-section__info-description Заключаем договор 
                br
                |франшизы
          .stages-section__info-item.swiper-slide
            .stages-section__info-container
              .stages-section__info-box
                .stages-section__info-num
                  span 02
                .stages-section__info-pointer
                  img(src="images/pointer.svg" loading="lazy" alt="pointer" width="8" height="23").d-block
              .stages-section__info-description Ищем помещение 
                br
                |и подписываем договор 
                br
                |аренды
          .stages-section__info-item.swiper-slide
            .stages-section__info-container
              .stages-section__info-box
                .stages-section__info-num
                  span 03
                .stages-section__info-pointer
                  img(src="images/pointer.svg" loading="lazy" alt="pointer" width="8" height="23").d-block
              .stages-section__info-description Проводим ремонт 
                br
                |и оформляем 
                br
                |помещение
          .stages-section__info-item.swiper-slide
            .stages-section__info-container
              .stages-section__info-box
                .stages-section__info-num
                  span 04
                .stages-section__info-pointer
                  img(src="images/pointer.svg" loading="lazy" alt="pointer" width="8" height="23").d-block
              .stages-section__info-description Осуществляем поиск 
                br
                |персонала
          .stages-section__info-item.swiper-slide
            .stages-section__info-container
              .stages-section__info-box
                .stages-section__info-num
                  span 05
                .stages-section__info-pointer
                  img(src="images/pointer.svg" loading="lazy" alt="pointer" width="8" height="23").d-block
              .stages-section__info-description Производим заказ, 
                br
                |доставку и монтаж 
                br
                |оборудования и мебели
          .stages-section__info-item.swiper-slide
            .stages-section__info-container
              .stages-section__info-box
                .stages-section__info-num
                  span 06
                .stages-section__info-pointer
                  img(src="images/pointer.svg" loading="lazy" alt="pointer" width="8" height="23").d-block
              .stages-section__info-description Формируем первичные 
                br
                |запасы расходных 
                br
                |материалов
          .stages-section__info-item.swiper-slide
            .stages-section__info-container
              .stages-section__info-box
                .stages-section__info-num
                  span 07
                .stages-section__info-pointer
                  img(src="images/pointer.svg" loading="lazy" alt="pointer" width="8" height="23").d-block
              .stages-section__info-description Осуществляем 
                br
                |настройку рекламы
          .stages-section__info-item.swiper-slide
            .stages-section__info-container
              .stages-section__info-box
                .stages-section__info-num
                  span 08
                .stages-section__info-pointer
                  img(src="images/pointer.svg" loading="lazy" alt="pointer" width="8" height="23").d-block
              .stages-section__info-description Проводим обучение 
                br
                |персонала
          .stages-section__info-item.swiper-slide
            .stages-section__info-container
              .stages-section__info-box
                .stages-section__info-num
                  span 09
                .stages-section__info-pointer
                  img(src="images/pointer.svg" loading="lazy" alt="pointer" width="8" height="23").d-block
              .stages-section__info-description Запускаем студию 
                br
                |и поддерживаем на всех 
                br
                |этапах в дальнейшем развитии
        .stages-section__info-bullets.swiper-bullets.stages-pagination

      .stages-section__frame.border-r-20
        .stages-section__frame-button
          button.btn(data-remodal-target="modal-form-stages")
            span Скачать пример договора
        .stages-section__frame-description.font-s-24.font-g-s-bold Работаем строго по договору, 
          br
          |в котором описаны наши обязанности 
          br
          |и все условия сотрудничества
        .stages-section__frame-image
          img(src="images/stages-frame-img.png" loading="lazy" alt="image" width="452" height="363").d-block
