section.support-section
  .wrapper
    .support-section__inner
      h2.support-section__title.font-s-40.text-center Откройте собственный бизнес за 26 дней

      .support-section__title-helper.font-s-24.font-g-med.text-center Команда РУМИТ поддержит вас 
        br.d-block
        |на всех этапах

      .support-section__content
        .support-section__feedback
          .feedback.border-r-20
            form(data-feedback-form).feedback__form
              .feedback__description.font-s-22.font-g-med.color-white Получите подробный план 
                br
                |по открытию РУМИТ
              .feedback__list
                .feedback__item
                  .input
                    input(type="text" name="name" autocomplete="off" placeholder="Ваше имя").input__field
                .feedback__item
                  .input
                    input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваше телефон").input__field
                .feedback__item
                  button.btn(type="submit")
                    span Получить
              input(type="text" name="honeyfield" class="honeypot" style="display:none")
              .feedback__image
                img(src="images/support-image.png" loading="lazy" alt="image" width="243" height="221").d-block

        .support-section__info.font-g-med.font-s-20
          ul
            li
              .support-section__info-icon
                img(src="images/checked-2.svg" loading="lazy" alt="icon" width="28" height="28").d-block
              .support-section__info-description Предоставим 
                br
                |дистанционное обучение
            li
              .support-section__info-icon
                img(src="images/checked-2.svg" loading="lazy" alt="icon" width="28" height="28").d-block
              .support-section__info-description Обеспечим ежегодные 
                br
                |встречи франчайзи
            li
              .support-section__info-icon
                img(src="images/checked-2.svg" loading="lazy" alt="icon" width="28" height="28").d-block
              .support-section__info-description Направим команду 
                br
                |специалистов для запуска 
                br
                |бизнеса (по договоренности)
            li
              .support-section__info-icon
                img(src="images/checked-2.svg" loading="lazy" alt="icon" width="28" height="28").d-block
              .support-section__info-description Добавим на горячую 
                br
                |линию и в закрытое 
                br
                |сообщество
            li
              .support-section__info-icon
                img(src="images/checked-2.svg" loading="lazy" alt="icon" width="28" height="28").d-block
              .support-section__info-description Подключим к 
                br
                |индивидуальному чат
            li
              .support-section__info-icon
                img(src="images/checked-2.svg" loading="lazy" alt="icon" width="28" height="28").d-block
              .support-section__info-description Дадим любые 
                br
                |консультации касательно 
                br
                |нашей деятельности
