.about-section
  background-color: $color-white
  color: $color-blue-1

  &__inner
    position relative
    z-index 1
    padding: 50px 0
    text-align: center
    +above($breakpoints.sm)
      text-align: left
      padding: 60px 0 50px 0
    +above($breakpoints.md)
      padding: 80px 0 70px 0
    +above($breakpoints.xxl)
      padding: 215px 0 177px 0

  &__image
    margin: 0 0 14px 0
    +above($breakpoints.sm)
      margin: 0
      position: absolute
      top: 91px;
      left: 0;
    +above($breakpoints.md)
      top: 77px;
      left: 13px;
    +above($breakpoints.xxl)
      top: 165px
      left: -37px
    img
      height: auto
      width 254px
      margin: 0 auto
      +above($breakpoints.sm)
        margin: 0
        width 276px
      +above($breakpoints.md)
        width 417px
      +above($breakpoints.xxl)
        width 603px

  &__title
    margin: 0 0 10px 0
    +above($breakpoints.xxl)
      margin: 0 0 14px 0

  &__content
    +above($breakpoints.sm)
      margin: 0 0 0 auto
      width 398px
    +above($breakpoints.md)
      width 470px
    +above($breakpoints.xxl)
      width 570px

  &__info
    div
      margin: 0 0 15px 0
      +above($breakpoints.md)
        margin: 0 0 24px 0
      +above($breakpoints.xxl)
        margin: 0 0 34px 0
      &:last-child
        margin: 0
