.connection
  &__link
    background-color: $color-orange-1
    color: $color-white
    line-height: normal
    border-radius: 8px
    padding: 10px 24px
    font-size: 13px
    display block
    +above($breakpoints.md)
      padding: 10px 18px
      font-size: 14px
    +above($breakpoints.xxl)
      font-size: 16px
      padding: 12px 28px
