.double-section
  background-color: $color-blue-1

  &__wrapper
    background-color: $color-white
    border-radius: 70px 0 0 0
    +above($breakpoints.sm)
      border-radius: 140px 0 0 0
    +above($breakpoints.md)
      border-radius: 250px 0 0 0
    +above($breakpoints.xxl)
      border-radius: 350px 0 0 0
