.double-section
  background-image: url('../images/double-bg.jpg')
  background-repeat: no-repeat
  background-position: calc(50% - 157px) center
  background-size: cover
  background-color: #1B1B1B
  color: $color-white
  +above($breakpoints.sm)
    background-position: center