.finances-section
  background-image: url('../images/finances-bg.svg')
  background-repeat: no-repeat
  background-position: calc(50% - 496px) center
  background-size: cover
  background-color: $color-orange-1
  color: $color-blue-1
  +above($breakpoints.sm)
    background-position: center

  &__inner
    position relative
    z-index 1
    padding: 50px 0
    +above($breakpoints.sm)
      padding: 50px 0 60px 0
    +above($breakpoints.md)
      padding: 70px 0 80px 0
    +above($breakpoints.xxl)
      padding: 89px 0 165px 0

  &__title
    margin: 0 -10px 8px -10px
    +above($breakpoints.sm)
      margin: 0 0 10px 0
    +above($breakpoints.xxl)
      margin: 0 0 14px 0

  &__title-helper
    margin: 0 -10px 30px -10px
    +above($breakpoints.sm)
      margin: 0 0 20px 0
    +above($breakpoints.md)
      margin: 0 0 30px 0
    +above($breakpoints.xxl)
      margin: 0 0 49px 0

  &__content
    display: flex
    justify-content: space-between
    align-items: flex-start
    margin: 0 0 38px 0
    flex-direction: column-reverse
    +above($breakpoints.sm)
      flex-direction: row
    +above($breakpoints.md)
      margin: 0 0 44px 0
    +above($breakpoints.xxl)
      margin: 0 0 66px 0

  &__image-container
    position relative
    width 244px
    margin: 0 0 0 auto
    +above($breakpoints.sm)
      width 280px
      margin: 0
    +above($breakpoints.md)
      width 379px
    +above($breakpoints.xxl)
      width 512px

  &__image
    img
      width 100%
      height: auto

  &__image-decor
    position: absolute
    top: -33px;
    left: -114px;
    +above($breakpoints.md)
      top: -55px
      left: -162px
    +above($breakpoints.xxl)
      top: -44px
      left: -226px
    img
      height: auto
      width 237px
      +above($breakpoints.sm)
        width 262px
      +above($breakpoints.md)
        width 364px
      +above($breakpoints.xxl)
        width 467px

  &__cards
    width 234px
    margin: 0 auto 30px auto
    +above($breakpoints.sm)
      margin: 0
      position: unset !important
      perspective: unset !important
      width unset
      width 409px
    +above($breakpoints.md)
      width 549px
    +above($breakpoints.xxl)
      width 647px

  &__cards-list
    +above($breakpoints.sm)
      position: unset !important
      display: flex
      flex-wrap: wrap
      justify-content: center
      gap: 8px
      transform: unset !important
      transform-style: unset !important
    +above($breakpoints.md)
      gap: 12px
    +above($breakpoints.xxl)
      gap: 25px 20px

  &__cards-item
    +above($breakpoints.sm)
      position relative
      width auto !important

  &__card
    width: 234px;
    height: 106px;
    padding: 37px 0 0 20px;
    position relative
    z-index 1
    background-color: $color-white
    letter-spacing: -0.01em;
    +above($breakpoints.sm)
      width: 200px;
      height: 92px;
      padding: 30px 0 0 14px;
    +above($breakpoints.md)
      width: 268px;
      height: 123px;
      padding: 48px 0 0 18px;
    +above($breakpoints.xxl)
      width 313px
      height: 160px
      padding: 68px 0 0 20px
  br
    display: block

  &__card-icon
    position: absolute
    z-index -1
    top: 5px
    right: 5px
    +above($breakpoints.md)
      top: 10px
      right: 10px
    +above($breakpoints.xxl)
      top: 15px
      right: 15px
    img
      border-radius: 100%
      height: auto
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
      width 25px
      +above($breakpoints.md)
        width 34px
      +above($breakpoints.xxl)
        width 46px

  &__feedback-title
    margin: 0 0 14px 0
    +above($breakpoints.md)
      margin: 0 0 20px 0
    +above($breakpoints.xxl)
      margin: 0 0 27px 0

  &__frame
    background-color: $color-blue-1
    color: $color-white
    position relative
    z-index 1
    padding: 126px 8px 24px 8px
    text-align: center
    +above($breakpoints.sm)
      display: flex
      justify-content: space-between
      align-items: center
    +above($breakpoints.sm)
      text-align: left
      padding: 16px 20px 18px 20px
    +above($breakpoints.md)
      padding: 26px 26px 30px 26px
    +above($breakpoints.xxl)
      padding: 40px 40px 30px 40px

  &__frame-info
    margin: 0 0 14px 0
    +above($breakpoints.sm)
      margin: 0
    div
      margin: 0 0 11px 0
      +above($breakpoints.md)
        margin: 0 0 14px 0
      +above($breakpoints.xxl)
        margin: 0 0 22px 0

  &__frame-image
    position: absolute
    top: 3px
    z-index -1
    left: calc(50% - 89px)
    +above($breakpoints.sm)
      top: auto
      bottom: 3px
      left: 331px
    +above($breakpoints.md)
      left: 423px
      bottom: -3px
    +above($breakpoints.xxl)
      bottom: -6px
      left: 507px
    img
      height: auto
      width 192px
      +above($breakpoints.md)
        width 300px
      +above($breakpoints.xxl)
        width 368px

  &__frame-feedback
    .feedback
      &__list
        flex-direction: column
