.form-modal
  &__feedback
    color: $color-white
    background-color: $color-blue-1
    border-radius: 14px
    padding: 36px 6px 17px 6px;
    +above($breakpoints.sm)
      padding: 38px 14px 20px 14px
    +above($breakpoints.xxl)
      padding: 40px
      border-radius: 20px

  &__info-title
    font-size: 17px;
    line-height: 130%
    margin: 0 -8px 14px -8px
    font-family: "Gilroy-Bold"
    font-weight: 700
    text-transform: uppercase
    +above($breakpoints.sm)
      margin: 0 0 14px 0
    +above($breakpoints.md)
      font-size: 19px
    +above($breakpoints.xxl)
      margin: 0 0 20px 0
      font-size: 22px
    br
      display: block

  &__feedback-item
    max-width: 270px
    margin: 0 auto
    +above($breakpoints.sm)
      max-width: 240px
    +above($breakpoints.md)
      max-width: 280px
    +above($breakpoints.xxl)
      max-width: 330px

  &__feedback-input
    height: 56px
    margin-bottom: 7px
    +above($breakpoints.sm)
      margin-bottom: 8px
      height: 48px
    +above($breakpoints.md)
      height: 52px
    +above($breakpoints.xxl)
      height: 60px
      margin-bottom: 10px
    .input
      border: none
      &__field
        height: 100%

  &__button
    margin-bottom: 14px

  &__agree
    font-size: 11px;
    line-height: 13px;
    +above($breakpoints.md)
      font-size: 13px;
      line-height: 15px;
    a
      text-decoration: underline
