.form-modal
  &__feedback
    background: #333332;
    color: $color-white
    border-radius: 10px
    padding: 30px 8px 17px 8px;
    +above($breakpoints.sm)
      padding: 38px 10px 20px 10px
      border-radius: 14px
    +above($breakpoints.xxl)
      padding: 40px 14px 26px 14px
      border-radius: 20px

  &__info-title
    font-size: 21px;
    line-height: 120%
    margin: 0 0 14px 0
    font-family: "FuturaPT-Medium"
    font-weight: 500
    +above($breakpoints.md)
      font-size: 23px
      margin: 0 0 18px 0
    +above($breakpoints.xxl)
      margin: 0 0 20px 0
      font-size: 27px
    br
      display: block

  &__feedback-item
    max-width: 250px
    margin: 0 auto
    height: 48px
    margin: 0 auto 5px auto
    +above($breakpoints.sm)
      max-width: 246px
      height: 48px
      margin: 0 auto 4px auto
    +above($breakpoints.md)
      margin: 0 auto 6px auto
      max-width: 280px
      height: 50px
    +above($breakpoints.xxl)
      margin: 0 auto 10px auto
      height: 60px
      max-width: 330px
    &:last-child
      margin: 0 auto
    .btn
      height: 100%
    .input
      height: 100%
      &__field
        height: 100%

  &__button
    margin-bottom: 14px

  &__agree
    margin: 14px 0 0 0
    line-height: normal
    font-size: 13px
    +above($breakpoints.md)
      font-size: 14px
    +above($breakpoints.xxl)
      font-size: 16px

  &__agree-link
    text-decoration: underline;
    text-decoration-skip-ink: none;