.format-section
  background-color: #292929
  color: $color-white

  &__inner
    position relative
    z-index 22
    padding: 50px 0
    +above($breakpoints.sm)
      padding: 60px 0
    +above($breakpoints.md)
      padding: 70px 0
    +above($breakpoints.xxl)
      margin: 0 -40px
      padding: 120px 0

  &__title
    margin: 0 0 28px 0
    +above($breakpoints.sm)
      margin: 0 0 40px 0
    +above($breakpoints.md)
      margin: 0 0 50px 0
    +above($breakpoints.xxl)
      margin: 0 0 76px 0

  &__cards
    margin: 0 auto
    width 279px
    +above($breakpoints.sm)
      margin: 0
      width unset

  &__cards-list
    +above($breakpoints.sm)
      display: flex
      flex-wrap: wrap
      justify-content: center
      gap: 10px
    +above($breakpoints.md)
      gap: 14px
    +above($breakpoints.xxl)
      gap: 61px

  &__cards-progress
    width 200px !important
    margin: 14px auto 0 auto !important

  &__cards-item
    +above($breakpoints.sm)
      width auto !important

  &__card
    position relative
    background: $color-white
    color: $color-black
    width: 279px;
    padding: 19px 14px
    +above($breakpoints.sm)
      padding: 22px 26px
      width: 330px;
    +above($breakpoints.md)
      width 430px
      padding: 28px 30px
    +above($breakpoints.xxl)
      padding: 31px 46px
      width 577px

  &__card-title
    background: rgba(187, 187, 187, 0.19)
    border-radius: 8px
    padding: 10px 6px
    +above($breakpoints.md)
      padding: 12px 8px
      border-radius: 10px
    +above($breakpoints.xxl)
      border-radius: 12px
      padding: 15px 10px

  &__card-description
    margin: 18px 0
    +above($breakpoints.md)
      margin: 22px 0
    +above($breakpoints.xxl)
      margin: 36px 0

  &__card-feedback
    .feedback
      &__list
        padding: 0 14px
        +above($breakpoints.sm)
          padding: 0
      &__item
        width 100%
        &:last-child
          width 100%
        .input__field
          color: $color-black
          border: 1px solid $color-black
          &::-ms-input-placeholder
            font-family: "FuturaPT-Medium"
            font-weight: 400
            color: $color-black
          &::-moz-placeholder
            font-family: "FuturaPT-Medium"
            font-weight: 400
            color: $color-black
          &::-webkit-input-placeholder
            font-family: "FuturaPT-Medium"
            font-weight: 400
            color: $color-black
          &::placeholder
            font-family: "FuturaPT-Medium"
            font-weight: 400
            color: $color-black
          &.error
            color: $color-error
            &::placeholder
              color: $color-error
            &::-ms-input-placeholder
              color: $color-error
            &::-moz-placeholder
              color: $color-error
            &::-webkit-input-placeholder
              color: $color-error
        .input__field,
        .btn
          height: 44px
          +above($breakpoints.md)
            height: 50px
          +above($breakpoints.xxl)
            height: 60px
        .btn
          background: #292929
          color: $color-white
