.input
  display: flex
  align-items: center
  height: 100%
  width 100%
  position relative
  &.active
    .input__progress
      opacity 1
      min-width: 40px
      span
        opacity 1

  &__progress
    position: absolute
    top: 1px
    bottom: 1px
    height: auto
    left: 0
    background: $color-blue-1
    opacity 0
    min-width: 0
    display: flex
    align-items: center
    justify-content: center
    font-size: 16px
    line-height: 16px
    transition: min-width 1s, opacity 0.8s
    color: $color-white
    font-weight: bold
    border-radius: 8px
    +above($breakpoints.xxl)
      font-size: 20px
      line-height: 20px
    span
      opacity 0
      transition: 2s

  &__field
    width: 100%
    height: 48px
    line-height: normal
    font-size: 16px
    padding: 0
    display: block
    outline: none
    border: 1px solid #e9e9e9;
    border-radius: 8px
    background: none
    color: $color-white
    font-family: "Gilroy-Regular"
    line-height: 120%
    font-weight: 400
    padding: 0 10px 0 18px
    transition: 0.3s
    +above($breakpoints.sm)
      border-radius: 6px
      height: 38px
      font-size: 14px
      padding: 0 10px 0 14px
    +above($breakpoints.md)
      border-radius: 8px
      font-size: 15px
      height: 44px
      padding: 0 10px 0 16px
    +above($breakpoints.xxl)
      height: 50px
      font-size: 18px
      padding: 0 10px 0 24px
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active
      -webkit-box-shadow: 0 0 0px 1000px white inset
      transition: all 5000s ease-in-out 0s
    &::-ms-input-placeholder
      font-family: "Gilroy-Regular"
      font-weight: 400
      color: #e9e9e9;
    &::-moz-placeholder
      font-family: "Gilroy-Regular"
      font-weight: 400
      color: #e9e9e9;
    &::-webkit-input-placeholder
      font-family: "Gilroy-Regular"
      font-weight: 400
      color: #e9e9e9;
    &::placeholder
      font-family: "Gilroy-Regular"
      font-weight: 400
      color: #e9e9e9;
    &.error
      color: $color-error
      &::placeholder
        color: $color-error
      &::-ms-input-placeholder
        color: $color-error
      &::-moz-placeholder
        color: $color-error
      &::-webkit-input-placeholder
        color: $color-error
      animation: shake 0.6s;
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0)
        }
        
        20%, 80% {
          transform: translate3d(2px, 0, 0)
        }

        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0)
        }

        40%, 60% {
          transform: translate3d(4px, 0, 0)
        }
      }
    &:focus
      box-shadow: 0px 1px 8px -1px rgb(255 255 255);
    &--textarea
      resize: none
      padding-top: 12px
      height: 100px !important
      +above($breakpoints.sm)
        padding-top: 11px
        height: 80px !important
      +above($breakpoints.md)
        height: 90px !important
        padding-top: 13px
      +above($breakpoints.xxl)
        height: 120px !important
        padding-top: 20px
