.support-section
  background-color: $color-orange-1
  color: $color-blue-1

  &__inner
    padding: 50px 0
    position relative
    z-index 1
    +above($breakpoints.sm)
      padding: 60px 0 70px 0
    +above($breakpoints.md)
      padding: 74px 0 80px 0
    +above($breakpoints.xxl)
      padding: 93px 0 162px 0

  &__title
    margin: 0 0 14px 0
    +above($breakpoints.xxl)
      margin: 0 0 19px 0

  &__title-helper
    margin: 0 0 30px 0
    +above($breakpoints.md)
      margin: 0 0 40px 0
    +above($breakpoints.xxl)
      margin: 0 0 60px 0

  &__content
    display: flex
    flex-direction: column-reverse
    gap: 50px
    +above($breakpoints.sm)
      justify-content: space-between
      gap: 0px
      flex-direction: row

  &__feedback
    +above($breakpoints.sm)
      width 280px
    +above($breakpoints.md)
      width 356px
    +above($breakpoints.xxl)
      width 480px
    .feedback
      background-color: $color-blue-1
      text-align: center
      position relative
      padding: 42px 20px
      +above($breakpoints.xxl)
        padding: 63px 20px
      &__image
        position: absolute
        pointer-events: none
        top: -33px;
        left: -63px;
        +above($breakpoints.sm)
          top: -47px
          left: -88px
        +above($breakpoints.md)
          left: -110px
        +above($breakpoints.xxl)
          left: -130px
        img
          height: auto
          width 122px
          +above($breakpoints.sm)
            width 140px
          +above($breakpoints.md)
            width 184px
          +above($breakpoints.xxl)
            width 240px
      &__description
        margin: 0 0 20px 0
        +above($breakpoints.xxl)
          margin: 0 0 35px 0
      &__list
        margin: 0 auto
        width 250px
        +above($breakpoints.xxl)
          width 315px
      &__item
        width 100%

  &__info
    +above($breakpoints.sm)
      width 398px
      padding: 14px 0 0 0
    +above($breakpoints.md)
      width 560px
    +above($breakpoints.xxl)
      width 660px
    ul
      display: flex
      flex-wrap: wrap
      align-items: flex-start
      gap: 15px 4px
      +above($breakpoints.md)
        gap: 30px 4px
      +above($breakpoints.xxl)
        gap: 40px 4px
    li
      display: flex
      align-items: center
      gap: 7px
      +above($breakpoints.sm)
        gap: 10px
      +above($breakpoints.md)
        width 278px
      +above($breakpoints.xxl)
        width 328px
        gap: 14px

  &__info-icon
    img
      height: auto
      width 21px
      +above($breakpoints.sm)
        width 24px
      +above($breakpoints.xxl)
        width 28px

  &__info-description
    br
      display: none
      +above($breakpoints.md)
        display: block
