.swiper-bullets
  position relative !important
  width 100% !important
  display: flex
  justify-content: center
  bottom: 0 !important
  margin: 20px 0 0 0
  +above($breakpoints.sm)
    display: none
  .swiper-pagination-bullet
    width 6px
    height: 6px
    padding: 0
    transition: 0.3s
    background: rgba(87, 87, 87, 0.813)
  .swiper-pagination-bullet-active
    background: $color-blue-1
    padding: 0 12px
    opacity 1
    border-radius: 100px
